---
title: Waterside
slideshow: Yes
layout: default
images:
  - slideshow/header1.jpg
  - slideshow/header2.jpg
  - slideshow/header3.jpg
  - slideshow/header4.jpg
  - slideshow/header5.jpg
  - slideshow/header6.jpg
  - slideshow/header7.jpg
  - slideshow/header8.jpg
description: Waterside is a full service landscape company emphasizing the latest sustainable design and installation practices. Waterside works in ways that have the least impact on the environment and are in harmony with nature.
---
  
  <!-- header slideshow -->
  {% include slideshow.html %}
  
  <!-- content of page -->
  <div id="content">
    <div id="page-title">About Waterside</div>
    <p>Waterside is a full service landscape company emphasizing the latest sustainable design and installation practices. Waterside works in ways that have the least impact on the environment and are in harmony with nature.</p>

    <div class="featured-section">

    <div class="featured">
      <div class="page-subtitle">Our Clients</div>
      <p> Our commercial clients include:</p>
      <ul>
        <li>Royal Parks of London</li>
        <li>English Nature</li>
        <li>Environment Agency</li>
        <li>Eton College</li>
        <li>The National Trust</li>
        <li>Costain</li>
        <li>Mott McDonald</li>
      </ul>
      <p>We have also served many residential clients in the US (Palo Alto, Campbell, and San Jose, CA) and the UK (Oxford, Wallingford, Straton-Audley, and Mixbury).</p>
    </div>

    <div class="featured child-item">
      <div class="page-subtitle">Our Services</div>
      <ul>
        <li>Landscaping</li>
        <ul>
          <li>Fencing, paving, turfing, ponds, planting, ground maintenance, irrigation, and tree surgery.</li>
        </ul>
        <li>Bioengineering</li>
        <ul>
          <li>Lakes, ponds, dredging, and river restoration</li>
        </ul>
        <li>Design</li>
        <ul>
          <li>Master plans, environmental mitigation, site master plans, preliminary cost estimating, and construction administration</li>
        </ul>
        <li>Building</li>
        <ul>
          <li>Walling, roofing, timberwork, framing, decking, and flood damage restoration</li>
        </ul>
      </ul>
    </div>
    
    <div class="featured child-item">
      <div class="page-subtitle">Testimonials</div>

      {% include testimonials.html %}
    
    <p>Waterside is also recognized for the Thames River path restoration project and for invertebrate habitat creation in Oxford.</p>
    </div>
    
    </div>
  </div>

