<!-- Social icons from http://socicon.com/ -->
<div class="social">
    <ul>
      <li>Follow Waterside on:</li>
      <li><a title="Facebook" href="https://www.facebook.com/watersideusa.watersideuk?fref=ts" target="_blank" class="socicon">b</a></li>
      <li><a title="Yelp" href="http://www.yelp.com/biz/waterside-usa-san-jose" target="_blank" class="socicon">h</a></li>
      <!-- <li><a title="Google+" href="" target="_blank" class="socicon">c</a></li> -->
    </ul>
</div>
Find us on <a href="http://www.houzz.com/pro/watersideusa/waterside" target="_blank">Houzz</a>