<!-- Social icons from http://socicon.com/ -->
<div class="social">
  <!-- Find Waterside on:
  <ul>
    <li><a title="Facebook" href="" target="_blank" class="socicon">b</a></li>
    <li><a title="Yelp" href="http://www.yelp.com/biz/waterside-usa-san-jose" target="_blank" class="socicon">h</a></li>
    <li><a title="Google+" href="" target="_blank" class="socicon">c</a></li>
  </ul> -->
    
    <img class="small" src="../images/environment-2.gif" />
    <img class="small" src="../images/cslb-logo.gif" />
    <img class="small" src="../images/constructionline.gif" />
</div>